In [14]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.neural_network import MLPClassifier

In [6]:
data = pd.read_csv('../model_data/extracted_data/data.csv',delimiter=' ', header=None)
data.head()

,0,1,2,3,4,5,6,7,8,9,...,441,442,443,444,445,446,447,448,449,450
0,0.0,2.0,1.0,1.0,18.0,26.0,255.0,254.0,253.0,95.0,...,26.0,26.0,140.0,254.0,48.0,26.0,19.0,0.0,0.0,0.0
1,0.0,1.0,1.0,34.0,69.0,199.0,254.0,254.0,254.0,67.0,...,254.0,254.0,254.0,254.0,254.0,197.0,68.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,254.0,255.0,255.0,255.0,254.0,254.0,213.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,102.0,254.0,252.0,254.0,255.0,...,68.0,255.0,255.0,255.0,255.0,102.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,1.0,2.0,28.0,68.0,68.0,67.0,68.0,...,70.0,254.0,255.0,254.0,253.0,143.0,0.0,2.0,1.0,3.0

In [8]:
y = data[0]
x = data.drop(columns=0)

## Preprocessing

### split

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.15, random_state=42)

### scaling

In [12]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_train

array([[-0.11178637, -0.3038615 , -0.57251615, ..., -0.4109107 ,
        -0.1756705 , -0.05870544],
       [-0.06548448, -0.3038615 , -0.36279298, ...,  0.92395897,
        -0.1756705 , -0.05870544],
       [-0.11178637, -0.3038615 , -0.56086486, ..., -0.4109107 ,
        -0.1756705 , -0.05870544],
       ...,
       [-0.11178637, -0.3038615 , -0.56086486, ..., -0.38366847,
        -0.14645681, -0.05870544],
       [-0.11178637,  0.22083783,  2.3636082 , ..., -0.39728959,
        -0.1756705 , -0.05870544],
       [-0.11178637,  4.63219886,  2.38691077, ..., -0.4109107 ,
        -0.1756705 , -0.05870544]])

## Train + CrossVal

In [ ]:
nn = MLPClassifier(hidden_layer_sizes=(100, 50), max_iter=200, verbose=3)
nn.fit(x_train, y_train)

## Test